/* Initial setup */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
  --dark: #1f2937;
  --gray: #e5e7eb;
  --blue: #3882f6;
  --light: #f9faf8;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

.container {
  width: 1024px;
  margin: 0 auto;
}

/* Header section */
header {
  background-color: var(--dark);
  color: var(--light);
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 0;
}

nav h3 {
  font-size: 24px;
}

ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

ul li a,
.hero p {
  color: var(--gray);
  text-decoration: none;
  font-size: 18px;
}

.hero {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  gap: 64px;
  padding: 96px 0;
}

.hero h2 {
  font-size: 48px;
}

.hero div,
.hero img {
  flex: 1;
}

.hero p {
  margin-bottom: 16px;
}

.img {
  text-align: center;
  background-color: var(--gray);
  height: 100%;
}

button {
  padding: 6px 32px;
  background-color: var(--blue);
  color: var(--light);
  border: none;
  border-radius: 6px;
  font-size: 18px;
  font-weight: bold;
}
/* Information section */
.info {
  text-align: center;
  padding: 96px 0px;
  background-color: var(--light);
}

.info h2 {
  font-size: 36px;
  font-weight: bolder;
  color: var(--dark);
  margin-bottom: 32px;
}

.info-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 64px;
}

.info-card {
  text-align: center;
  width: 150px;
  flex: none;
}

.info-card-box {
  width: 150px;
  height: 150px;
  margin: 0 auto;
  border: 4px solid var(--blue);
  border-radius: 16px;
  margin-bottom: 8px;
}

/* Quote section */
.quote {
  background-color: var(--gray);
  text-align: center;
  padding: 128px 0px;
}

blockquote p {
  font-size: 36px;
  color: var(--dark);
  font-weight: 300;
}

blockquote footer {
  font-size: 36px;
  color: var(--dark);
  font-weight: 600;
  text-align: end;
}

/* Cta section */
.cta {
  background-color: var(--light);
  color: var(--light);
  padding: 96px 0px;
}

.cta-card {
  background-color: var(--blue);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 48px 84px;
  border-radius: 8px;
}

.cta-btn {
  border: 2px solid var(--light);
}

.cta-text p {
  color: var(--gray);
}

/* footer */
